<%- include('_header.js') %>
<div class="alert" id="new-word" style="display: none;">
    <p>"<b></b>" added to vocabulary.</p>
    <a class="waves-effect waves-light btn-large green action-reload">refresh</a>
</div>
<div class="memo-content">
    <div style="position: relative;">
        <div style="position: absolute; top: 40px;">
            <span style="float: left; color: #fff; margin-left: 0;" class="badge blue"><%= stat.all %></span>
            <span style="float: left; color: #fff;" class="badge green"><%= stat.learned %></span>
            <span style="float: left; color: #fff;" class="badge orange"><%= stat.training %></span>
            <span style="float: left; color: #fff;" class="badge red"><%= stat.must %></span>
        </div>
    </div>

    <div id="actions">
        <button class="waves-effect waves-light btn black delete-selected">Delete</button>
        <button class="waves-effect waves-light btn orange train-selected">Train</button>
        <br>
        <button class="waves-effect waves-light btn green set-learned">Learned</button>
        <button class="waves-effect waves-light btn red set-must">Must be learned</button>
    </div>

    <table class="highlight" id="table" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th class="no-bg" style="padding-left: 10px;">
                    <label>
                        <input type="checkbox" class="check-all" value="" />
                        <span></span>
                    </label>
                </th>
                <th>Source</th>
                <th>Translation</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" class="check-word" value="<%= data[i]['id'] %>" />
                        <span></span>
                    </label>
                </td>
                <td><%= data[i]['source'] %> <sub><span class="pronounce" data-word="<%= data[i]['source'] %>"><i class="material-icons dp48">keyboard_voice</i></span></sub></td>
                <td><%= data[i]['translation'] %></td>
                <td>
                <% if(data[i]['status'] == 2){ %> 
                    <span class="new badge green" data-badge-caption="">learned</span>
                <% } else if(data[i]['status'] == 1) { %>
                    <span class="new badge orange" data-badge-caption="">training</span>
                <% } else { %>
                    <span class="new badge red" data-badge-caption="">must be learned</span>
                <% } %>
                </td>
                <td style="text-align: right;">
                    <a style="padding: 0 8px;" class="btn btn-small blue modal-trigger load-content" data-href="/view?id=<%= data[i]['id'] %>" data-c=".modal-content" href="#modal1"><i class="material-icons dp48">description</i></a>
                    <a style="padding: 0 8px;" class="btn btn-small orange modal-trigger load-content" data-href="/edit?id=<%= data[i]['id'] %>" data-c=".modal-content" href="#modal1"><i class="material-icons dp48">edit</i></a>
                    <a style="padding: 0 8px;" class="btn btn-small black remove-this" href="#" data-href="/remove?id=<%= data[i]['id'] %>"><i class="material-icons dp48">clear</i></a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('_footer.js') %>